@charset "UTF-8";
.style-table{
    width: 40%;
    border-collapse: collapse;
}

.style-table table caption{
    font-size: 2em;
    font-weight: bold;
    margin: 1em 0;
}

th,td{
    border: 1px solid #dddddd;
    text-align: center;
    padding: 20px 0;
}

table thead tr{
    background-color: c;
    color: #dddddd;
}

table tbody tr:nth-child(odd){
    background-color: #fff;
}

table tbody tr:hover{
    background-color: #fff;
    
}

table tbody tr td:first-child{
    color: #fff;
}

table tfoot tr td{
    text-align: right;
    padding-right: 20px;
}
